
<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>What to do...</title>
    <link rel="stylesheet" href="~/mainstyle.css" media="screen">
    <link rel="stylesheet" href="~/instruction.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/mainscript.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

</head>
<body class="u-body u-custom-color-1">
    <header class="navbar u-align-left u-black u-clearfix u-header u-header" id="sec-a5ef">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <p class="logo u-text u-text-default u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                <a class="navbar u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1" href="/Home/Index" data-page-id="1006227259">VK Audit Analyser</a>
            </p>
        </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-2283">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-align-center u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-text u-text-1">Добро пожаловать в....</h2>
                    <p class="u-text u-text-2">А куда добро пожаловать-то? В инструкцию? Гайд? А, не важно. В любом случае после прочтения, не должно остаться никаких вопросов по поводу использования данного сервиса. Круто, правда?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-52c4">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                                        <h3 class="u-text u-text-1">Шаг первый</h3>
                                        <p class="u-text u-text-2">Первым делом вам необходимо зайти в группу, которую вы хотите проанализировать. Для данной иструкции мы зашли в официальный паблик "Вконтакте"</p>
                                    </div>
                                </div>
                                <div class="u-container-style u-effect-hover-zoom u-layout-cell u-left-cell u-size-40 u-layout-cell-2">
                                    <div class="u-background-effect u-expanded">
                                        <div class="u-background-effect-image u-expanded u-image u-image-1"></div>
                                    </div>
                                    <div class="u-container-layout u-valign-top u-container-layout-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-effect-hover-zoom u-layout-cell u-right-cell u-size-40 u-layout-cell-3" data-image-width="1011" data-image-height="691">
                                    <div class="u-background-effect u-expanded">
                                        <div class="u-background-effect-image u-expanded u-image u-image-2" data-image-width="1011" data-image-height="691"></div>
                                    </div>
                                    <div class="u-container-layout u-valign-top u-container-layout-3"></div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-4">
                                    <div class="u-container-layout u-valign-middle u-container-layout-4">
                                        <h2 class="u-text u-text-3">Шаг второй</h2>
                                        <p class="u-text u-text-4">Нам нужно скопировать ссылку в адресной строке браузера. Она в самом верху.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-aa16">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-24 u-layout-cell-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                                        <h2 class="u-text u-text-1">Шаг третий</h2>
                                        <p class="u-text u-text-2">Вставьте скопированную ссылку в поле для ввода на главной странице нашего сайте. После этого просто нажмите кнопку "Поехали". Вас переведет на страничку результатов. Бинго!</p>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-36 u-layout-cell-2">
                                    <div class="u-container-layout">
                                        <img src="~/images/instructionpic_4.png" alt="" class="u-align-left u-image u-image-1" data-image-width="2000" data-image-height="1333">
                                        <img src="~/images/instructionpic_5.png" alt="" class="u-align-left u-border-8 u-border-grey-10 u-image u-image-2" data-image-width="2000" data-image-height="1333">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-effect-hover-zoom u-image-contain u-layout-cell u-left-cell u-size-60 u-layout-cell-3" src="" data-image-width="1012" data-image-height="553">
                                    <div class="u-background-effect u-expanded">
                                        <div class="u-background-effect-image u-expanded u-image u-image-contain u-image-3" data-image-width="1012" data-image-height="553"></div>
                                    </div>
                                    <div class="u-container-layout u-container-layout-3" src=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-e68a">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-text u-text-default u-text-1">Все понятно?</h2>
            <a href="/Home/Index" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-black u-text-hover-white u-btn-1">Да. Верните меня обратно.</a>
        </div>
    </section>

    <footer class="u-align-center u-black u-clearfix u-footer u-footer" id="sec-e766">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">VKAuditAnalyser© 2020</p>
        </div>
    </footer>

</body>
</html>